<div class="surface-ground page">
  <!-- Thanh công cụ -->
  <div class="flex justify-content-end gap-2 mb-3">
    <p-button (onClick)="CreateRole()" icon="pi pi-plus" label="Thêm mới vai trò" />
    <p-button severity="success" label="Xuất Excel" icon="pi pi-file-excel" />
  </div>

  <div class="card shadow-2 bg-white border-round">
    <p-accordion [activeIndex]="0" expandIcon="pi pi-search-plus" collapseIcon="pi pi-search-minus">
      <p-accordionTab header="Lọc dữ liệu">
        <div class="grid">
          <div class="col-4">
            <label class="block text-900 font-medium mb-3">Từ khóa tìm kiếm</label>
            <div class="flex">
              <input [(ngModel)]="keyword" type="text" pInputText placeholder="Nhập từ khóa tìm kiếm" class="w-full" />
            </div>
          </div>
          <div class="col-2 flex">
            <div class="mr-3">
              <label class="block text-900 font-medium mb-3">&nbsp;</label>
              <p-button (onClick)="GetAllRoles()" icon="pi pi-search" label="Tìm kiếm" [outlined]="true"
                severity="primary">
              </p-button>
            </div>
          </div>

        </div>
      </p-accordionTab>
    </p-accordion>
    <p-table #dt [value]="roles" [lazy]="true" sortMode="single" [scrollable]="true" scrollWidth="60rem"
      scrollDirection="horizontal" [paginator]="false" [loading]="isLoading"
      styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true"
      dataKey="id" selectionMode="single" loadingIcon="pi pi-cog pi-spin text-white">
      <ng-template pTemplate="header">
        <tr class="px-2">
          <th style="width: 4rem" class="text-center">#</th>
          <th pSortableColumn="khmshdon" class="text-center t-w-30">
            <span>Tên nhóm</span>
          </th>
          <th class="text-center">
            <span>Mô tả</span>
          </th>
          <th class="text-center t-w-10">
            <span>Mặc định</span>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="text-center">
            <p-button (onClick)="DetailRole(item)" icon="pi pi-bars" severity="secondary" [text]="true" />
          </td>

          <td>
            <a href="javascript:;">{{ item.name }}</a>

          </td>
          <td>
            {{ item.description }}
          </td>
          <td class="text-center">
            <p-checkbox [disabled]="true" [(ngModel)]="item.isDefault" [binary]="true" inputId="binary" />
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="flex align-items-center justify-content-center sticky bottom-0 bg-white w-full z-1">
      <div>
        <p-button icon="pi pi-refresh" type="primary" [text]="true" />
      </div>
      <div class="flex-1">

      </div>
    </div>
  </div>


</div>