::ng-deep .p-button-sm button {
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  margin-bottom: 10px;

  .filter {
    display: block;
    float: right;

    .item {
      width: 150px;
      display: inline-block;
      margin-left: 5px;
    }
  }

}