<!-- <ng-container>
    <c-toast-header *ngIf="showHeader" [closeButton]="closeButton">
        <ng-container *ngIf="icon; else noIcon">
            <svg [cIcon]="icons[icon]" class="flex-shrink-0 me-2" size="xl"></svg>
        </ng-container>
        <ng-template #noIcon>
            <span class="flex-shrink-0 me-2"></span>
        </ng-template>
        <strong>{{ title }}</strong>
    </c-toast-header>
    <c-toast-body #toast [cToastClose]="toast.toast">
        <p class="mb-1">{{ message }}</p>
        <ng-content></ng-content>
    </c-toast-body>
    <c-progress thin [value]="25 * (toast.toast?.clock ?? 1)" [height]="5" color="{{color}}"></c-progress>
</ng-container> -->


