:root .t-w-1 {
    width: 1% !important;
    min-width: 1% !important;
    max-width: 1% !important;
}

:root .t-w-2 {
    width: 2% !important;
    min-width: 2% !important;
    max-width: 2% !important;
}

:root .t-w-3 {
    width: 3% !important;
    min-width: 3% !important;
    max-width: 3% !important;
}

:root .t-w-4 {
    width: 4% !important;
    min-width: 4% !important;
    max-width: 4% !important;
}

:root .t-w-5 {
    width: 5% !important;
    min-width: 5% !important;
    max-width: 5% !important;
}

:root .t-w-6 {
    width: 6% !important;
    min-width: 6% !important;
    max-width: 6% !important;
}

:root .t-w-7 {
    width: 7% !important;
    min-width: 7% !important;
    max-width: 7% !important;
}

:root .t-w-8 {
    width: 8% !important;
    min-width: 8% !important;
    max-width: 8% !important;
}

:root .t-w-9 {
    width: 9% !important;
    min-width: 9% !important;
    max-width: 9% !important;
}

:root .t-w-10 {
    width: 10% !important;
    min-width: 10% !important;
    max-width: 10% !important;
}

:root .t-w-11 {
    width: 11% !important;
    min-width: 11% !important;
    max-width: 11% !important;
}

:root .t-w-12 {
    width: 12% !important;
    min-width: 12% !important;
    max-width: 12% !important;
}

:root .t-w-13 {
    width: 13% !important;
    min-width: 13% !important;
    max-width: 13% !important;
}

:root .t-w-14 {
    width: 14% !important;
    min-width: 14% !important;
    max-width: 14% !important;
}

:root .t-w-15 {
    width: 15% !important;
    min-width: 15% !important;
    max-width: 15% !important;
}

:root .t-w-16 {
    width: 16% !important;
    min-width: 16% !important;
    max-width: 16% !important;
}

:root .t-w-17 {
    width: 17% !important;
    min-width: 17% !important;
    max-width: 17% !important;
}

:root .t-w-18 {
    width: 18% !important;
    min-width: 18% !important;
    max-width: 18% !important;
}

:root .t-w-19 {
    width: 19% !important;
    min-width: 19% !important;
    max-width: 19% !important;
}

:root .t-w-20 {
    width: 20% !important;
    min-width: 20% !important;
    max-width: 20% !important;
}

:root .t-w-21 {
    width: 21% !important;
    min-width: 21% !important;
    max-width: 21% !important;
}

:root .t-w-22 {
    width: 22% !important;
    min-width: 22% !important;
    max-width: 22% !important;
}

:root .t-w-23 {
    width: 23% !important;
    min-width: 23% !important;
    max-width: 23% !important;
}

:root .t-w-24 {
    width: 24% !important;
    min-width: 24% !important;
    max-width: 24% !important;
}

:root .t-w-25 {
    width: 25% !important;
    min-width: 25% !important;
    max-width: 25% !important;
}

:root .t-w-26 {
    width: 26% !important;
    min-width: 26% !important;
    max-width: 26% !important;
}

:root .t-w-27 {
    width: 27% !important;
    min-width: 27% !important;
    max-width: 27% !important;
}

:root .t-w-28 {
    width: 28% !important;
    min-width: 28% !important;
    max-width: 28% !important;
}

:root .t-w-29 {
    width: 29% !important;
    min-width: 29% !important;
    max-width: 29% !important;
}

:root .t-w-30 {
    width: 30% !important;
    min-width: 30% !important;
    max-width: 30% !important;
}

:root .t-w-31 {
    width: 31% !important;
    min-width: 31% !important;
    max-width: 31% !important;
}

:root .t-w-32 {
    width: 32% !important;
    min-width: 32% !important;
    max-width: 32% !important;
}

:root .t-w-33 {
    width: 33% !important;
    min-width: 33% !important;
    max-width: 33% !important;
}

:root .t-w-34 {
    width: 34% !important;
    min-width: 34% !important;
    max-width: 34% !important;
}

:root .t-w-35 {
    width: 35% !important;
    min-width: 35% !important;
    max-width: 35% !important;
}

:root .t-w-36 {
    width: 36% !important;
    min-width: 36% !important;
    max-width: 36% !important;
}

:root .t-w-37 {
    width: 37% !important;
    min-width: 37% !important;
    max-width: 37% !important;
}

:root .t-w-38 {
    width: 38% !important;
    min-width: 38% !important;
    max-width: 38% !important;
}

:root .t-w-39 {
    width: 39% !important;
    min-width: 39% !important;
    max-width: 39% !important;
}

:root .t-w-40 {
    width: 40% !important;
    min-width: 40% !important;
    max-width: 40% !important;
}

:root .t-w-41 {
    width: 41% !important;
    min-width: 41% !important;
    max-width: 41% !important;
}

:root .t-w-42 {
    width: 42% !important;
    min-width: 42% !important;
    max-width: 42% !important;
}

:root .t-w-43 {
    width: 43% !important;
    min-width: 43% !important;
    max-width: 43% !important;
}

:root .t-w-44 {
    width: 44% !important;
    min-width: 44% !important;
    max-width: 44% !important;
}

:root .t-w-45 {
    width: 45% !important;
    min-width: 45% !important;
    max-width: 45% !important;
}

:root .t-w-46 {
    width: 46% !important;
    min-width: 46% !important;
    max-width: 46% !important;
}

:root .t-w-47 {
    width: 47% !important;
    min-width: 47% !important;
    max-width: 47% !important;
}

:root .t-w-48 {
    width: 48% !important;
    min-width: 48% !important;
    max-width: 48% !important;
}

:root .t-w-49 {
    width: 49% !important;
    min-width: 49% !important;
    max-width: 49% !important;
}

:root .t-w-50 {
    width: 50% !important;
    min-width: 50% !important;
    max-width: 50% !important;
}

:root .t-w-51 {
    width: 51% !important;
    min-width: 51% !important;
    max-width: 51% !important;
}

:root .t-w-52 {
    width: 52% !important;
    min-width: 52% !important;
    max-width: 52% !important;
}

:root .t-w-53 {
    width: 53% !important;
    min-width: 53% !important;
    max-width: 53% !important;
}

:root .t-w-54 {
    width: 54% !important;
    min-width: 54% !important;
    max-width: 54% !important;
}

:root .t-w-55 {
    width: 55% !important;
    min-width: 55% !important;
    max-width: 55% !important;
}

:root .t-w-56 {
    width: 56% !important;
    min-width: 56% !important;
    max-width: 56% !important;
}

:root .t-w-57 {
    width: 57% !important;
    min-width: 57% !important;
    max-width: 57% !important;
}

:root .t-w-58 {
    width: 58% !important;
    min-width: 58% !important;
    max-width: 58% !important;
}

:root .t-w-59 {
    width: 59% !important;
    min-width: 59% !important;
    max-width: 59% !important;
}

:root .t-w-60 {
    width: 60% !important;
    min-width: 60% !important;
    max-width: 60% !important;
}

:root .t-w-61 {
    width: 61% !important;
    min-width: 61% !important;
    max-width: 61% !important;
}

:root .t-w-62 {
    width: 62% !important;
    min-width: 62% !important;
    max-width: 62% !important;
}

:root .t-w-63 {
    width: 63% !important;
    min-width: 63% !important;
    max-width: 63% !important;
}

:root .t-w-64 {
    width: 64% !important;
    min-width: 64% !important;
    max-width: 64% !important;
}

:root .t-w-65 {
    width: 65% !important;
    min-width: 65% !important;
    max-width: 65% !important;
}

:root .t-w-66 {
    width: 66% !important;
    min-width: 66% !important;
    max-width: 66% !important;
}

:root .t-w-67 {
    width: 67% !important;
    min-width: 67% !important;
    max-width: 67% !important;
}

:root .t-w-68 {
    width: 68% !important;
    min-width: 68% !important;
    max-width: 68% !important;
}

:root .t-w-69 {
    width: 69% !important;
    min-width: 69% !important;
    max-width: 69% !important;
}

:root .t-w-70 {
    width: 70% !important;
    min-width: 70% !important;
    max-width: 70% !important;
}

:root .t-w-71 {
    width: 71% !important;
    min-width: 71% !important;
    max-width: 71% !important;
}

:root .t-w-72 {
    width: 72% !important;
    min-width: 72% !important;
    max-width: 72% !important;
}

:root .t-w-73 {
    width: 73% !important;
    min-width: 73% !important;
    max-width: 73% !important;
}

:root .t-w-74 {
    width: 74% !important;
    min-width: 74% !important;
    max-width: 74% !important;
}

:root .t-w-75 {
    width: 75% !important;
    min-width: 75% !important;
    max-width: 75% !important;
}

:root .t-w-76 {
    width: 76% !important;
    min-width: 76% !important;
    max-width: 76% !important;
}

:root .t-w-77 {
    width: 77% !important;
    min-width: 77% !important;
    max-width: 77% !important;
}

:root .t-w-78 {
    width: 78% !important;
    min-width: 78% !important;
    max-width: 78% !important;
}

:root .t-w-79 {
    width: 79% !important;
    min-width: 79% !important;
    max-width: 79% !important;
}

:root .t-w-80 {
    width: 80% !important;
    min-width: 80% !important;
    max-width: 80% !important;
}

:root .t-w-81 {
    width: 81% !important;
    min-width: 81% !important;
    max-width: 81% !important;
}

:root .t-w-82 {
    width: 82% !important;
    min-width: 82% !important;
    max-width: 82% !important;
}

:root .t-w-83 {
    width: 83% !important;
    min-width: 83% !important;
    max-width: 83% !important;
}

:root .t-w-84 {
    width: 84% !important;
    min-width: 84% !important;
    max-width: 84% !important;
}

:root .t-w-85 {
    width: 85% !important;
    min-width: 85% !important;
    max-width: 85% !important;
}

:root .t-w-86 {
    width: 86% !important;
    min-width: 86% !important;
    max-width: 86% !important;
}

:root .t-w-87 {
    width: 87% !important;
    min-width: 87% !important;
    max-width: 87% !important;
}

:root .t-w-88 {
    width: 88% !important;
    min-width: 88% !important;
    max-width: 88% !important;
}

:root .t-w-89 {
    width: 89% !important;
    min-width: 89% !important;
    max-width: 89% !important;
}

:root .t-w-90 {
    width: 90% !important;
    min-width: 90% !important;
    max-width: 90% !important;
}

:root .t-w-91 {
    width: 91% !important;
    min-width: 91% !important;
    max-width: 91% !important;
}

:root .t-w-92 {
    width: 92% !important;
    min-width: 92% !important;
    max-width: 92% !important;
}

:root .t-w-93 {
    width: 93% !important;
    min-width: 93% !important;
    max-width: 93% !important;
}

:root .t-w-94 {
    width: 94% !important;
    min-width: 94% !important;
    max-width: 94% !important;
}

:root .t-w-95 {
    width: 95% !important;
    min-width: 95% !important;
    max-width: 95% !important;
}

:root .t-w-96 {
    width: 96% !important;
    min-width: 96% !important;
    max-width: 96% !important;
}

:root .t-w-97 {
    width: 97% !important;
    min-width: 97% !important;
    max-width: 97% !important;
}

:root .t-w-98 {
    width: 98% !important;
    min-width: 98% !important;
    max-width: 98% !important;
}

:root .t-w-99 {
    width: 99% !important;
    min-width: 99% !important;
    max-width: 99% !important;
}

:root .t-w-100 {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

:root .width-10rem {
    width: 10rem !important;
    min-width: 10rem !important;
    max-width: 10rem !important;
}

:root .width-1rem {
    width: 1rem !important;
    min-width: 1rem !important;
    max-width: 1rem !important;
}

:root .width-2rem {
    width: 2rem !important;
    min-width: 2rem !important;
    max-width: 2rem !important;
}

:root .width-3rem {
    width: 3rem !important;
    min-width: 3rem !important;
    max-width: 3rem !important;
}

:root .width-4rem {
    width: 4rem !important;
    min-width: 4rem !important;
    max-width: 4rem !important;
}

:root .width-5rem {
    width: 5rem !important;
    min-width: 5rem !important;
    max-width: 5rem !important;
}

:root .width-6rem {
    width: 6rem !important;
    min-width: 6rem !important;
    max-width: 6rem !important;
}

:root .width-7rem {
    width: 7rem !important;
    min-width: 7rem !important;
    max-width: 7rem !important;
}

:root .width-8rem {
    width: 8rem !important;
    min-width: 8rem !important;
    max-width: 8rem !important;
}

:root .width-9rem {
    width: 9rem !important;
    min-width: 9rem !important;
    max-width: 9rem !important;
}

:root .width-10rem {
    width: 10rem !important;
    min-width: 10rem !important;
    max-width: 10rem !important;
}

:root .width-11rem {
    width: 11rem !important;
    min-width: 11rem !important;
    max-width: 11rem !important;
}

:root .width-12rem {
    width: 12rem !important;
    min-width: 12rem !important;
    max-width: 12rem !important;
}

:root .width-13rem {
    width: 13rem !important;
    min-width: 13rem !important;
    max-width: 13rem !important;
}

:root .width-14rem {
    width: 14rem !important;
    min-width: 14rem !important;
    max-width: 14rem !important;
}

:root .width-15rem {
    width: 15rem !important;
    min-width: 15rem !important;
    max-width: 15rem !important;
}

:root .width-16rem {
    width: 16rem !important;
    min-width: 16rem !important;
    max-width: 16rem !important;
}

:root .width-17rem {
    width: 17rem !important;
    min-width: 17rem !important;
    max-width: 17rem !important;
}

:root .width-18rem {
    width: 18rem !important;
    min-width: 18rem !important;
    max-width: 18rem !important;
}

:root .width-19rem {
    width: 19rem !important;
    min-width: 19rem !important;
    max-width: 19rem !important;
}

:root .width-20rem {
    width: 20rem !important;
    min-width: 20rem !important;
    max-width: 20rem !important;
}

:root .width-21rem {
    width: 21rem !important;
    min-width: 21rem !important;
    max-width: 21rem !important;
}

:root .width-22rem {
    width: 22rem !important;
    min-width: 22rem !important;
    max-width: 22rem !important;
}

:root .width-23rem {
    width: 23rem !important;
    min-width: 23rem !important;
    max-width: 23rem !important;
}

:root .width-24rem {
    width: 24rem !important;
    min-width: 24rem !important;
    max-width: 24rem !important;
}

:root .width-25rem {
    width: 25rem !important;
    min-width: 25rem !important;
    max-width: 25rem !important;
}

:root .width-26rem {
    width: 26rem !important;
    min-width: 26rem !important;
    max-width: 26rem !important;
}

:root .width-27rem {
    width: 27rem !important;
    min-width: 27rem !important;
    max-width: 27rem !important;
}

:root .width-28rem {
    width: 28rem !important;
    min-width: 28rem !important;
    max-width: 28rem !important;
}

:root .width-29rem {
    width: 29rem !important;
    min-width: 29rem !important;
    max-width: 29rem !important;
}

:root .width-30rem {
    width: 30rem !important;
    min-width: 30rem !important;
    max-width: 30rem !important;
}

:root .width-31rem {
    width: 31rem !important;
    min-width: 31rem !important;
    max-width: 31rem !important;
}

:root .width-32rem {
    width: 32rem !important;
    min-width: 32rem !important;
    max-width: 32rem !important;
}

:root .width-33rem {
    width: 33rem !important;
    min-width: 33rem !important;
    max-width: 33rem !important;
}

:root .width-34rem {
    width: 34rem !important;
    min-width: 34rem !important;
    max-width: 34rem !important;
}

:root .width-35rem {
    width: 35rem !important;
    min-width: 35rem !important;
    max-width: 35rem !important;
}

:root .width-36rem {
    width: 36rem !important;
    min-width: 36rem !important;
    max-width: 36rem !important;
}

:root .width-37rem {
    width: 37rem !important;
    min-width: 37rem !important;
    max-width: 37rem !important;
}

:root .width-38rem {
    width: 38rem !important;
    min-width: 38rem !important;
    max-width: 38rem !important;
}

:root .width-39rem {
    width: 39rem !important;
    min-width: 39rem !important;
    max-width: 39rem !important;
}

:root .width-40rem {
    width: 40rem !important;
    min-width: 40rem !important;
    max-width: 40rem !important;
}

:root .width-41rem {
    width: 41rem !important;
    min-width: 41rem !important;
    max-width: 41rem !important;
}

:root .width-42rem {
    width: 42rem !important;
    min-width: 42rem !important;
    max-width: 42rem !important;
}

:root .width-43rem {
    width: 43rem !important;
    min-width: 43rem !important;
    max-width: 43rem !important;
}

:root .width-44rem {
    width: 44rem !important;
    min-width: 44rem !important;
    max-width: 44rem !important;
}

:root .width-45rem {
    width: 45rem !important;
    min-width: 45rem !important;
    max-width: 45rem !important;
}

:root .width-46rem {
    width: 46rem !important;
    min-width: 46rem !important;
    max-width: 46rem !important;
}

:root .width-47rem {
    width: 47rem !important;
    min-width: 47rem !important;
    max-width: 47rem !important;
}

:root .width-48rem {
    width: 48rem !important;
    min-width: 48rem !important;
    max-width: 48rem !important;
}

:root .width-49rem {
    width: 49rem !important;
    min-width: 49rem !important;
    max-width: 49rem !important;
}

:root .width-50rem {
    width: 50rem !important;
    min-width: 50rem !important;
    max-width: 50rem !important;
}

:root .width-51rem {
    width: 51rem !important;
    min-width: 51rem !important;
    max-width: 51rem !important;
}

:root .width-52rem {
    width: 52rem !important;
    min-width: 52rem !important;
    max-width: 52rem !important;
}

:root .width-53rem {
    width: 53rem !important;
    min-width: 53rem !important;
    max-width: 53rem !important;
}

:root .width-54rem {
    width: 54rem !important;
    min-width: 54rem !important;
    max-width: 54rem !important;
}

:root .width-55rem {
    width: 55rem !important;
    min-width: 55rem !important;
    max-width: 55rem !important;
}

:root .width-56rem {
    width: 56rem !important;
    min-width: 56rem !important;
    max-width: 56rem !important;
}

:root .width-57rem {
    width: 57rem !important;
    min-width: 57rem !important;
    max-width: 57rem !important;
}

:root .width-58rem {
    width: 58rem !important;
    min-width: 58rem !important;
    max-width: 58rem !important;
}

:root .width-59rem {
    width: 59rem !important;
    min-width: 59rem !important;
    max-width: 59rem !important;
}

:root .width-60rem {
    width: 60rem !important;
    min-width: 60rem !important;
    max-width: 60rem !important;
}

:root .width-61rem {
    width: 61rem !important;
    min-width: 61rem !important;
    max-width: 61rem !important;
}

:root .width-62rem {
    width: 62rem !important;
    min-width: 62rem !important;
    max-width: 62rem !important;
}

:root .width-63rem {
    width: 63rem !important;
    min-width: 63rem !important;
    max-width: 63rem !important;
}

:root .width-64rem {
    width: 64rem !important;
    min-width: 64rem !important;
    max-width: 64rem !important;
}

:root .width-65rem {
    width: 65rem !important;
    min-width: 65rem !important;
    max-width: 65rem !important;
}

:root .width-66rem {
    width: 66rem !important;
    min-width: 66rem !important;
    max-width: 66rem !important;
}

:root .width-67rem {
    width: 67rem !important;
    min-width: 67rem !important;
    max-width: 67rem !important;
}

:root .width-68rem {
    width: 68rem !important;
    min-width: 68rem !important;
    max-width: 68rem !important;
}

:root .width-69rem {
    width: 69rem !important;
    min-width: 69rem !important;
    max-width: 69rem !important;
}

:root .width-70rem {
    width: 70rem !important;
    min-width: 70rem !important;
    max-width: 70rem !important;
}

:root .width-71rem {
    width: 71rem !important;
    min-width: 71rem !important;
    max-width: 71rem !important;
}

:root .width-72rem {
    width: 72rem !important;
    min-width: 72rem !important;
    max-width: 72rem !important;
}

:root .width-73rem {
    width: 73rem !important;
    min-width: 73rem !important;
    max-width: 73rem !important;
}

:root .width-74rem {
    width: 74rem !important;
    min-width: 74rem !important;
    max-width: 74rem !important;
}

:root .width-75rem {
    width: 75rem !important;
    min-width: 75rem !important;
    max-width: 75rem !important;
}

:root .width-76rem {
    width: 76rem !important;
    min-width: 76rem !important;
    max-width: 76rem !important;
}

:root .width-77rem {
    width: 77rem !important;
    min-width: 77rem !important;
    max-width: 77rem !important;
}

:root .width-78rem {
    width: 78rem !important;
    min-width: 78rem !important;
    max-width: 78rem !important;
}

:root .width-79rem {
    width: 79rem !important;
    min-width: 79rem !important;
    max-width: 79rem !important;
}

:root .width-80rem {
    width: 80rem !important;
    min-width: 80rem !important;
    max-width: 80rem !important;
}

:root .width-81rem {
    width: 81rem !important;
    min-width: 81rem !important;
    max-width: 81rem !important;
}

:root .width-82rem {
    width: 82rem !important;
    min-width: 82rem !important;
    max-width: 82rem !important;
}

:root .width-83rem {
    width: 83rem !important;
    min-width: 83rem !important;
    max-width: 83rem !important;
}

:root .width-84rem {
    width: 84rem !important;
    min-width: 84rem !important;
    max-width: 84rem !important;
}

:root .width-85rem {
    width: 85rem !important;
    min-width: 85rem !important;
    max-width: 85rem !important;
}

:root .width-86rem {
    width: 86rem !important;
    min-width: 86rem !important;
    max-width: 86rem !important;
}

:root .width-87rem {
    width: 87rem !important;
    min-width: 87rem !important;
    max-width: 87rem !important;
}

:root .width-88rem {
    width: 88rem !important;
    min-width: 88rem !important;
    max-width: 88rem !important;
}

:root .width-89rem {
    width: 89rem !important;
    min-width: 89rem !important;
    max-width: 89rem !important;
}

:root .width-90rem {
    width: 90rem !important;
    min-width: 90rem !important;
    max-width: 90rem !important;
}

:root .width-91rem {
    width: 91rem !important;
    min-width: 91rem !important;
    max-width: 91rem !important;
}

:root .width-92rem {
    width: 92rem !important;
    min-width: 92rem !important;
    max-width: 92rem !important;
}

:root .width-93rem {
    width: 93rem !important;
    min-width: 93rem !important;
    max-width: 93rem !important;
}

:root .width-94rem {
    width: 94rem !important;
    min-width: 94rem !important;
    max-width: 94rem !important;
}

:root .width-95rem {
    width: 95rem !important;
    min-width: 95rem !important;
    max-width: 95rem !important;
}

:root .width-96rem {
    width: 96rem !important;
    min-width: 96rem !important;
    max-width: 96rem !important;
}

:root .width-97rem {
    width: 97rem !important;
    min-width: 97rem !important;
    max-width: 97rem !important;
}

:root .width-98rem {
    width: 98rem !important;
    min-width: 98rem !important;
    max-width: 98rem !important;
}

:root .width-99rem {
    width: 99rem !important;
    min-width: 99rem !important;
    max-width: 99rem !important;
}

:root .width-100rem {
    width: 100rem !important;
    min-width: 100rem !important;
    max-width: 100rem !important;
}




:root .font-bold {
    font-weight: bold;
}

:root .w-100 {
    width: 100% !important;
}

:root .w-80 {
    width: 80% !important;
}

:root .w-100 {
    width: 100% !important;
}

:root .mr-1 {
    margin-top: 1rem;
}

:root .m-t-2 {
    margin-top: 2px !important;
}

:root .m-t-10 {
    margin-top: 10px !important;
}

:root .m-t-15 {
    margin-top: 15px !important;
}

:root .m-r-5 {
    margin-right: 5px !important;
}

:root .m-l-5 {
    margin-left: 5px !important;
}

:root .p-t-20 {
    padding-top: 20px !important;
}

:root .w-22rem {
    width: 22rem !important;
}

:root .m-r-5 {
    margin-right: 5px !important;
}