/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

/* Tabulator */
@import "tabulator-tables/dist/css/tabulator.min.css";

/* Handsontable */
@import "handsontable/dist/handsontable.full.css";

@import "width";
@import "custom-primeng";

:root {
    font-family: 'Roboto' 1rem !important;
}

:root .p-button-label{
    font-weight: normal !important;
}


:root body {
    font-family: "Inter var", sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}


:root {
    --surface-ground: #eff3f8 !important;
    --login-logo-ground: #bad4ff;
}

:root .btn-full {
    button {
        width: 100% !important;
    }
}

:root .p-password {
    width: 100% !important;
}

:root .p-password-input {
    width: 100% !important;
}

:root .p-colorpicker-preview,
.p-fluid .p-colorpicker-preview.p-inputtext {
    width: 100% !important;
    height: 39px !important;
}
:root .p-datatable .p-datatable-tbody>tr {
    color: black;
}

:root a {
    text-decoration: none !important;
}

:root .p-disabled,
.p-component:disabled {
    opacity: 1 !important;
}

:root .p-dialog .p-dialog-content {
    padding: 0 1.5rem 1.5rem 1.4rem !important;
}

:root .p-submenu-list {
    width: 15rem !important;
}

:root p-calendar span {
    width: 100% !important;
}

:root .color-success {
    color: #22c55e;
}

:root .color-primary {
    color: #2563eb;
}

:root .color-warning {
    color: #f97316;
}

:root .color-black {
    color: #000000 !important;
}

:root .red {
    color: red;
}

:root .primary {
    color: #3B82F6;
}

:root .p-inputtext {
    color: #000000 !important;
}

:root .selected {
    background-color: #ededed !important;
}

:root .float-right {
    float: right;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0270de !important;
    border-radius: 5px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #004993 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}