.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 3.5rem 1rem 1rem 1rem;
    transition: margin-left 0.2s;
}

.layout-main {
    flex: 1 1 auto;
}