<div class="grid">
  <p-tabView class="w-full">
    <p-tabPanel header="Thông tin vai trò">
      <div class="setting-template">
        <div class="grid">
          <div class="col-12">
            <div class="col-12">
              Tên vai trò <span class="text-red-400">*</span>
            </div>
            <div class="col-12">
              <input [(ngModel)]="role.name" name="roleName" type="text" pInputText class="w-full" placeholder="Nhập tên vai trò" />
            </div>
            <div class="col-12">
              Mô tả vai trò
            </div>
            <div class="col-12">
              <textarea [(ngModel)]="role.description" name="roleDescription" pInputText rows="5" class="w-full"
                placeholder="Mô tả vai trò"></textarea>
            </div>

          </div>

        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Phân quyền vai trò">
      <div class="content">
        <p-table [value]="role.permissions" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="body" let-permission let-columns="columns">
            <tr *ngIf="permission.id == null" style="height: 40px !important; background-color: #f1f1f1;">
              <td colspan="2">
                {{permission.name}}
              </td>
            </tr>
            <tr *ngIf="permission.id !== null" style="height: 40px !important;">
              <td style="width: 50px;">
                <p-checkbox [(ngModel)]="permission.isHas" name="permission_{{permission.id}}" [binary]="true" inputId="binary" />
              </td>
              <td>
                {{permission.name}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Người dùng">
      <div class="content">
        <p-table [value]="role.users" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="body" let-user let-columns="columns">
            <tr style="height: 40px !important;">
              <td style="width: 50px;">
                <p-checkbox [(ngModel)]="user.isHas" name="user_{{user.id}}" [binary]="true" inputId="binary" />
              </td>
              <td>
                {{user.userName}}
              </td>
              <td>
                {{user.name}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </p-tabPanel>
  </p-tabView>
</div>

<div class="grid">
  <div class="flex justify-content-end align-items-center w-full  p-t-20">
    <!-- Đóng -->
    <p-button (onClick)="Close()" icon="pi pi-times" severity="secondary" class="m-r-5" label="Đóng" />

    <!-- Xóa -->
    <p-button *ngIf="isUpdate" icon="pi pi-trash" severity="danger" class="m-r-5" label="Xóa bỏ" />

    <!-- Thêm mới -->
    <p-button (onClick)="Save()" *ngIf="!isUpdate" icon="pi pi-plus" label="Thêm mới vai trò" />

    <!-- Cập nhật -->
    <p-button (onClick)="Save()" *ngIf="isUpdate" icon="pi pi-check" severity="warning" label="Cập nhật vai trò" />

  </div>
</div>

<!-- Xác nhận xóa -->
<p-confirmDialog key="confirmDetele" position="top" rejectButtonStyleClass="p-button-outlined" />