.content {
  padding-left: 1rem;
  padding-right: 1rem;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  height: auto;
}

.avatar {
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

  img:hover {
    cursor: pointer;
  }
}