<div class="surface-ground page">
  <!-- Thanh công cụ -->
  <div class="flex justify-content-end mb-3">
    <p-button (onClick)="Save()" icon="pi pi-save" label="Lưu thông tin" />
  </div>
  
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
      <div class="surface-card shadow-2 p-3 border-round content">
        <div class="content">
          <!-- Thông tin đơn vị -->
          <div class="flex justify-content-between mb-3">
            <span class="block text-500 font-medium mb-3 font-bold">1. Thông tin đơn vị</span>
          </div>

          <div class="setting-template">
            <div class="grid">
              <div class="col-12">
                Định danh đơn vị trên hệ thống
              </div>

              <div class="col-12">
                <input [(ngModel)]="info.database" type="text" disabled="true" pInputText class="w-full"
                  placeholder="Nhập định danh đơn vị" />
              </div>

              <div class="col-3">
                Mã số thuế
              </div>

              <div class="col-3">
                Tên đơn vị<span class="text-red-400">*</span>
              </div>

              <div class="col-6">

              </div>

              <div class="col-3">
                <input [(ngModel)]="info.taxCode" type="text" pInputText class="w-full"
                  placeholder="Nhập mã số thuế đơn vị" />
              </div>

              <div class="col-9">
                <input [(ngModel)]="info.companyName" type="text" pInputText class="w-full"
                  placeholder="Nhập tên đơn vị" />
              </div>

              <div class="col-12">
                Địa chỉ đơn vị
              </div>

              <div class="col-12">
                <input [(ngModel)]="info.address" type="text" pInputText class="w-full"
                  placeholder="Nhập địa chỉ đơn vị" />
              </div>

            </div>
          </div>

          <!-- Người đại diện pháp luật -->
          <div class="flex justify-content-between mb-3 mr-1">
            <span class="block text-500 font-medium mb-3 font-bold">2. Người đại diện pháp luật</span>
          </div>

          <div class="setting-template">
            <div class="grid">

              <div class="col-12">
                Người đại diện
              </div>
              <div class="col-12">
                <input [(ngModel)]="info.surrogate" type="text" pInputText class="w-full"
                  placeholder="Nhập tên người đại diện" />
              </div>

              <div class="col-12">
                Chức vụ
              </div>
              <div class="col-12">
                <input [(ngModel)]="info.surrogatePosition" type="text" pInputText class="w-full"
                  placeholder="Chức vụ người đại diện" />
              </div>

            </div>
          </div>

          <!-- Thông tin liên hệ -->
          <div class="flex justify-content-between mb-3 mr-1">
            <span class="block text-500 font-medium mb-3 font-bold">3. Thông tin liên hệ</span>
          </div>

          <div class="setting-template">
            <div class="grid">

              <div class="col-12">
                Số điện thoại
              </div>
              <div class="col-12">
                <input [(ngModel)]="info.phone" type="text" pInputText class="w-full"
                  placeholder="Nhập số điện thoại đơn vị" />
              </div>

              <div class="col-12">
                Thư điện tử
              </div>
              <div class="col-12">
                <input [(ngModel)]="info.email" type="text" pInputText class="w-full"
                  placeholder="Nhập thư điện tử đơn vị" />
              </div>

              <div class="col-12 red">
                Thông tin đơn vị sẽ hiển thị trong thông tin doanh nghiệp
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>